<?xml version="1.0" encoding="UTF-8"?>
<phpunit
    verbose="true"
    strict="true"
    bootstrap="tests/bootstrap.php"
    colors="true"
>

    <!-- Test suites to be run -->
    <testsuites>
        <testsuite name="bradfeehan/desk-php">
            <directory suffix="Test.php">tests/Desk/Test/Unit</directory>
            <directory suffix="OperationTest.php">tests/Desk/Test/Operation</directory>
            <directory suffix="SystemTest.php">tests/Desk/Test/System</directory>
        </testsuite>
    </testsuites>

    <!-- Exclude slow network tests (can be run manually) -->
    <groups>
        <exclude>
            <group>network</group>
        </exclude>
    </groups>

    <!-- Filters for code coverage reporting -->
    <filter>
        <whitelist>
            <directory>./lib</directory>
        </whitelist>
    </filter>

    <!-- Logging -->
    <logging>
        <log type="coverage-clover" target="build/logs/clover.xml" />
        <log type="coverage-html" target="build/logs/coverage" highlight="true"
            lowUpperBound="1" highLowerBound="99" />
        <log type="coverage-text" target="php://stdout" />
    </logging>

    <!-- Test listeners -->
    <listeners>
        <listener class="\Mockery\Adapter\Phpunit\TestListener" file="vendor/mockery/mockery/library/Mockery/Adapter/Phpunit/TestListener.php"></listener>
    </listeners>

    <php>
        <!--
            Specify the path to a service configuration file which will
            be used for "test" API access when running tests.
        -->
        <!--server name="DESK_TEST_CONFIG" value="tests/service/test.json" /-->
    </php>

</phpunit>
